<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palladium Customers - HubSoft B2B Login Page</title>
  </head>
  <body>
    <div id="main">
      <noscript>
        <h1 style="color:red; font-size:200%; font-weight:bold; ">Java Script is required to use this form. Please enable Java script on your browser.</h1>
      </noscript>
      <div id="pageDiv1">
        <div id="login-form" >
          <form action="/login" method="post" name="loginForm" id="loginForm">
            <div id="login-form-div">
              <div class="login_header">
                <img id="p-header" src="images/p-header.jpg" class="responsive_image"  alt ="Palladium Customer - Login"   />
              </div>
              <div class="palladium_form_label" >
                <span class="Label_Fonts">
                  USER NAME
                </span>
              </div>
              <div class="palladium_form_label">
                <input type="text" name="username" id="username" maxlength="100" size="20" value="" class="palladium_form_style" style="width:90%; "  />
              </div>
              <div class="palladium_form_label" >
                <span class="Label_Fonts">
                  PASSWORD
                </span>
              </div>
              <div class="palladium_form_label" style="margin-left:0px; ">
                <input type="password" name="password" id="password" maxlength="100" size="20" value="" class="palladium_form_style" style="width:90%; " />
              </div>
              <div class="clear"></div>
              <div class="div_inline" id="Remember_me_div">
                <div class="div_inline" style="display:none; width:15%; margin-left:2px;">
                  <input type="checkbox" id="rememberMe" style="width:100%;"  />
                </div>
                <div class="div_inline" style="display:none; width:82%; margin-top:2%;">
                  <img src="images/remember-me.png" class="responsive_image" alt ="Palladium Login - Remember me"   />
                </div>
                <div class="clear"></div>
                <div class="div_inline" style="margin-top:3%; margin-left:1px;">
                  <div id="bg_submit1" >
                    <a href="#" title="Palladium Customers - Login" >                                                                                      
                        <input type="submit" name="submit" id="sbutton1" value="" class="submit_button"  src="images/submit1.jpg" onMouseOver="this.src='images/submit1b.jpg'" onMouseOut="this.src='images/submit1.jpg'"  style="margin-left:2px; max-width:98%; height:auto;"  />
                    </a>
                    <img id="submit1" src="images/submit1.jpg"  class="responsive_image"  style="float:left; "  alt ="Palladium Customers - Login"   />
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </form>
          <div id="links_div" >
            <div id="links" class="div_inline" >
              <div class="div_inline" style="width:100%; margin:1% 0% 0% 0%; padding:0px; text-align:right; ">
                <a href="javascript:CallPage(2)" title="Palladium Customers - Existing Customer" style=" font-family: Trebuchet MS, sans-serif; font-size:75%; font-weight:bold; " >
                  Existing Customer: Create User/Password
                </a>
              </div>
              <div class="clear"></div>
              <div class="div_inline" style="width:100%; padding:0px; text-align:right; margin-top:0%; ">
                <a href="javascript:CallPage(3)" title="Palladium Customers - New Account Inquiry" style=" font-family: Trebuchet MS, sans-serif; font-size:75%; font-weight:bold; " >
                  New Account Inquiry
                </a>
              </div>
              <div class="clear"></div>
              <div class="div_inline" style="width:100%; padding:0px; text-align:right;  margin-top:0%; ">
                <a href="javascript:CallPage(4)" title="Palladium Customers - Forgot Password" style=" font-family: Trebuchet MS, sans-serif; font-size:75%; font-weight:bold; "  >
                  Forgot Password
                </a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div id="need_help_div" class="div_inline" >
            <div class="div_inline" >
              <span style="font-size:75%; font-weight:bold; color:#A0A0A0; ">Need Help Login? 1-800-938-8000</span>
            </div>
          </div>
          <div class="clear"></div>
        </div><!-- end login-form div -->
        <img id="loginGirl" src="images/palladium_login_girl.jpg"  class="responsive_image"  alt ="HubSoft B2B App - Palladium Customer Login"   />
      </div>
    </div><!-- end main div -->
  </body>
</html>
